<h1>Show Comment</h1>
<br>
<div class="jumbotron">
  <h1 class="display-4">
    <%= @comment.commenter %>
  </h1>
  <p class="lead">
    <%= @comment.body %>
  </p>
</div>

<%= link_to "Back", article_comments_path(@article), class: "btn btn-secondary" %>